ConsoleApplication1/Service References/pplService/person_register.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://persons_register.x-road.ee" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" name="person_register" targetNamespace="http://persons_register.x-road.ee" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://persons_register.x-road.ee">
      <xsd:import schemaLocation="http://x-road.eu/xsd/xroad.xsd" namespace="http://x-road.eu/xsd/xroad.xsd" />
      <xsd:element name="personList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="firstName" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title xml:lang="et">Eesnimi</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="lastName" type="xsd:string">
              <xsd:annotation>
                <xsd:appinfo>
                  <xrd:title xml:lang="et">Perekonnaninmi</xrd:title>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="personListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="person" type="tns:person" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="contact">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="phone" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title xml:lang="et">Telefon</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="e-mail" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title xml:lang="et">E-post</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="1" name="address" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title xml:lang="et">Aadress</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="person">
        <xsd:sequence>
          <xsd:element name="personId" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title xml:lang="et">Isikukood</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="firstName" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title xml:lang="et">Eesnimi</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="lastName" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title xml:lang="et">Pereninmi</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="birthDate" type="xsd:date">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title xml:lang="et">Sünniaeg</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="personContact" type="tns:contact">
            <xsd:annotation>
              <xsd:appinfo>
                <xrd:title xml:lang="et">Kontaktinfo</xrd:title>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="xrdheader">
    <wsdl:part name="client" element="xrd:client" />
    <wsdl:part name="service" element="xrd:service" />
    <wsdl:part name="userId" element="xrd:userId" />
    <wsdl:part name="id" element="xrd:id" />
    <wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
  </wsdl:message>
  <wsdl:message name="personListRequest">
    <wsdl:part name="parameters" element="tns:personList" />
  </wsdl:message>
  <wsdl:message name="personListResponse">
    <wsdl:part name="parameters" element="tns:personListResponse" />
  </wsdl:message>
  <wsdl:portType name="person_register">
    <wsdl:operation name="personList">
      <wsdl:documentation>
        <xrd:title xml:lang="et">Isikute nimekirja küsimine nime järgi
				</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:personListRequest" />
      <wsdl:output message="tns:personListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="person_registerSOAP" type="tns:person_register">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="personList">
      <soap:operation soapAction="http://persons_register.x-road.ee/NewOperation" />
      <xrd:version>v1</xrd:version>
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:xrdheader" part="client" use="literal" />
        <soap:header message="tns:xrdheader" part="service" use="literal" />
        <soap:header message="tns:xrdheader" part="userId" use="literal" />
        <soap:header message="tns:xrdheader" part="id" use="literal" />
        <soap:header message="tns:xrdheader" part="protocolVersion" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:xrdheader" part="client" use="literal" />
        <soap:header message="tns:xrdheader" part="service" use="literal" />
        <soap:header message="tns:xrdheader" part="userId" use="literal" />
        <soap:header message="tns:xrdheader" part="id" use="literal" />
        <soap:header message="tns:xrdheader" part="protocolVersion" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="person_register">
    <wsdl:port name="person_registerSOAP" binding="tns:person_registerSOAP">
      <soap:address location="http://192.168.20.14:83/producer/person_register/services/person_registerSOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>